// Base colors
$orangeAux: rgba(#ff7819, 0.7);
$white: #fff;
$black: #000;
$orange: #ff7819;
$red: #fb5b57;
$green: #2dce8b;
$blue: #0080ff;
$orangeMouseHover: #fc6e0a;

// Aux colors
$darkWhite: #f2f0e4;
$grey: #333;
